menu "Watch WiFi Configuration"

    config WIFI_SSID
        string "WiFi SSID"
        default "myssid"
        help
            SSID (network name) to connect to.

    config WIFI_PASSWORD
        string "WiFi Password"
        default "mypassword"
        help
            WiFi password (WPA2/WPA3) for the network.

    config WIFI_MAXIMUM_RETRY
        int "Maximum retry attempts"
        default 5
        help
            Maximum number of retries before giving up on WiFi connection.

endmenu
